<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>

  <ion-segment  scrollable
    mod="md"
    color="primary"
   (ionChange)="cambiarCategoriaNoticia($event)">
    <ion-segment-button *ngFor="let categoria of categorias"
          [value]="categoria">
      <ion-label text-capitalize>{{categoria}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>

    <app-noticias [articulos]="noticias"></app-noticias>
  
    <ion-infinite-scroll  threshold="30%" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Espere...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
      
</ion-content>
